@import "../../styles/option.scss";

.wrap_block {
	& .block {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		font-size: 12px;
		font-weight: $fw_Crumbs_Link;
		padding-top: 30px;
		padding-bottom: 50px;
		& .item {
			display: flex;
		}
		& a {
			position: relative;
			display: flex;
			align-items: center;
			margin-right: 26px;
			& .main_ico {
				font-size: 0;
				&:before {
					font-size: 16px;
					color: $Light_Tint;
				} 
			}
			&:after {
				content: "\e924";
				font-family: 'iconewwssync' !important;
				font-size: 16px;
				font-weight: $fw_font_ico;
				color: $DarkGray;
				position: absolute;
				top: 50%;
				right: -20px;
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
			}
			& span {
				color: $Light_Tint;
				transition: color $animate_site;
			}
			&:hover span {
				color: $Dark_Tint;
			}
		}
		& span {
			color: $Dark_Tint;
		}
	}
}

@media only screen and (max-width : 767px) {
	.wrap_block {
		& .block {
			flex-wrap: nowrap;
			white-space: nowrap;
			overflow-x: auto;
			padding-bottom: 30px;
		}
	}
}