@import "../../styles/option.scss";

.wrap {
    display: flex;
    align-items: center;
}
button {
    &.main_btn[data-menu="main_menu"] {
        background: $Light_Gray;
        border-radius: $border_radius_main;
        display: flex;
        align-items: center;
        width: 180px;
        margin-right: 20px;
        height: $height_field_btn;
        padding: 0 15px;
        color: $Base_Tint;
        transition: background $animate_site, color $animate_site;
        &:after {
            display: none;
        }
        &:hover,
        &[aria-expanded="true"] {
            background: $Base_Accent;
            color: $White;
            & span.main_btn_ico {
                &:before {
                    color: $White;
                }
            }
        }
    }
    & span.main_btn_ico {
        &:before {
            font-size: 18px;
            margin-right: 10px;
            color: $Base_Shade;
            transition: color $animate_site;
        }
    }
}
div[data-fixhead="fixhead"] {
    & button.main_btn[data-menu="main_menu"] {
        width: 24px;
        padding: 0;
        &:hover,
        &[aria-expanded="true"] {
            background: transparent;
            & span.main_btn_ico {
                &:before {
                    color: $Light_Shade;
                }
            }
        }
    
        & span.main_btn_ico {
            &:before {
                font-size: 24px;
                margin-right: 0;
            }
        }
    
    }
}

.garage_menu {
    &[data-menu="dropdown"] {
        border: none;
        width: 1300px;
        left: 0;
        margin-top: 5px;
        padding: 40px 60px;
        box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.15);
    }
}

.header_site {
    display: flex;
    margin: 0 -10px;
    & li {
        margin: 0 10px;
    }
}

.wrap_drop {
    display: flex;
}
.item {
    width: 25%;
}
.item_block {
    padding-bottom: 18px;
    &:last-child {
        padding-bottom: 0;
    }

    & ul.collapse_ul {
        margin-left: 31px;
        padding-top: 11px;
        & li:hover {
            background: none;
        }
        & li {
            & a {
                font-size: 13px;
                font-weight: $fw_Link;
                color: $Light_Tint;
            }
        }
        & .main_link {
            font-size: 13px;
            padding: 7px 0; 
            &:hover {
                color: $Base_Accent;
            }
        }
        & .main_all_link {
            display: inline-block;
            margin-top: 11px;
            font-weight: $fw_Link;
            padding: 0;
            &:hover {
                color: $Dark_Tint;
            }
        }
    }
}
.main_title {
    position: relative;
    display: inline-flex;
    align-items: center;
    font-size: 15px;
    color: $Base_Tint;
    font-weight: $fw_Button_Link;
    padding-left: 31px;
    line-height: 18px;
    min-height: 26px;
    transition: color $animate_site;
    & .main_title_ico {
        position: absolute;
        top: 0;
        left: 0;
        &:before {
            display: flex;
            font-size: 24px;
            color: $Light_Tint;
            transition: color $animate_site;
        }
    }

    &:hover {
        color: $Base_Accent;
        & .main_title_ico:before {
            color: $Base_Accent;
        }
    }
}


@media only screen and (max-width : 1359px) {
    .header_site {
        font-size: 13px;
    }
    .garage_menu {
        &[data-menu="dropdown"] {
            width: 940px;
        }
    }

    .wrap_drop {
        flex-wrap: wrap;
    }
    .item {
        width: 33.33333333%;
        &:nth-child(4) {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            padding-top: 20px;
            & .item_block {
                width: 33.33333333%;
            }
        }
    }
}
@media only screen and (max-width : 999px) {
    .garage_menu {
        &[data-menu="dropdown"] {
            width: 738px;
            padding: 40px 20px;
        }
    }
    .header_site {
        & li:nth-child(4) {
            display: none;
        }
    }
}
@media only screen and (max-width : 767px) {
    .header_site {
        & li:nth-child(4) {
            display: block;
        }
    }
    button {
        &.main_btn[data-menu="main_menu"] {
            background: transparent;
            width: 30px;
            min-width: 30px;
            height: 30px;
            justify-content: center;
            margin: 0;
            & span:before {
                font-size: 30px;
                margin-right: 0;
            }
            &:hover,
            &.main_btn[aria-expanded="true"] {
                background: transparent;
                & span.main_btn_ico:before {
                    color: $Light_Shade;
                }
            }
        }
    }

    .garage_menu {
        &[data-menu="dropdown"] {
            border-radius: $border_radius_default;
            position: fixed;
            top: 0;
            left: 0;
            width: 280px;
            height: 100%;
            margin: 0;
            padding: 20px;
            overflow-y: auto;
            z-index: 1020; 
        }
    }

    .mob_close {
        display: none;
        &[data-mobmenu="menu"] {
            position: fixed;
            display: block;
            left: 285px;
            top: 5px;
            cursor: pointer;
            z-index: 1020;
            & span:before {
                font-size: 30px;
            }
        }
    }
    .mob_fon {
        width: 100%;
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.2s linear;
        &[data-mobmenu="menu"] {
            background: rgba(0,0,0, 0.65);
            visibility: visible;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 1;
            z-index: 1015;
        }
    }

    .wrap_drop {
        border-bottom: 1px solid $Light_Gray;
        padding-top: 20px;
        padding-bottom: 5px;
    }
    .item {
        width: 100%;
        &:nth-child(4) {
            padding-top: 0;
            & .item_block {
                width: 100%;
            }
        }
    }
    .item_block {
        padding-bottom: 16px;
        &:last-child {
            padding-bottom: 16px;
        }
    }
    .mob_header {
        & .mob_header_adress {
            position: relative;
            display: flex;
            align-items: center;
            margin-bottom: 15px;
            cursor: pointer;
        }
        & .mob_header__ico {
            &:before {
                font-size: 16px;
                margin-right: 7px;
                color: $Base_Shade;
            }
        }
        & .mob_header_adress__text {
            font-size: 13px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        & .mob_header__help {
            display: flex;
            align-items: center;
            & .mob_header__help_text {
                font-size: 14px;   
            }
        }
    }
    .mob_title {
        border-top: 1px solid $Light_Gray;
        font-size: 15px;
        font-weight: $fw_Header6;
        margin-top: 15px;
        padding-top: 20px;
    }


    .main_title {
        font-size: 14px;
        font-weight: $fw_Link;
    }
    .mob_footer {
        padding: 20px 0;
        & ul.mob_footer_ul {
            & li:hover {
                background: none;
            }
            & li {
                font-size: 14px;
                margin-bottom: 25px;
                & a {
                    display: inline-block;
                    font-size: 15px;
                    font-weight: $fw_Header6;
                    padding: 0;
    
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}