@import "libs";
@import "option";
@import "fonts";

* {
	box-sizing: border-box;
}
body {
	background: $White;
	font-family: 'Lato', sans-serif;
	font-size: 14px;
	font-weight: $fw_Body_Text;
	color: $Base_Tint;
	min-width: 320px;
	position: relative;
	line-height: normal;
	margin: 0;
	-webkit-font-smoothing: antialised;
}
[id*="wait_comp"] {
	display: none;
}
h1,h2,h3,h4,h5,h6 {
	margin: 0;
}
h1,
.title_h1 {
	font-size: 36px;
	font-weight: $fw_Header1;
	line-height: 43px;
}
h2,
.title_h2,
.title_page {
	font-size: 32px;
	font-weight: $fw_Header2;
	line-height: 38px;
}
h3,
.title_h3 {
	font-size: 26px;
	font-weight: $fw_Header3;
	line-height: 31px;
}
h4,
.title_h4 {
	font-size: 21px;
	font-weight: $fw_Header4;
	line-height: 27px;
}
h5,
.title_h5 {
	font-size: 18px;
	font-weight: $fw_Header5;
	line-height: 23px;
}
h6,
.title_h6 {
	font-size: 15px;
	font-weight: $fw_Header6;
	line-height: 18px;
}
.title_page {
	padding-bottom: 20px;
}
p {
	margin: 0 0 10px;
}
a,
a:hover,
a:focus {
	text-decoration: none;
	outline: none !important;
}

table {
	width: 100%;
	border-collapse: separate;
	border: 1px solid #F0F0F0;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.09);
}
table tr.head_tr_th {
	box-shadow: 0px 2px 2px rgba(208, 215, 217, 0.3);
}
table tr th {
	font-size: 12px;
	text-transform: uppercase;
	height: 40px;
	color: #3F3F3F;
	padding-top: 5px;
	padding-bottom: 5px;
}
table tr th:first-child,
table tr td:first-child {
	padding-left: 20px;
}
table tr th:last-child,
table tr td:last-child {
	padding-right: 20px;
}
table tr th,
table tr td {
	padding-left: 15px;
	padding-right: 15px;
}
table tr td {
	border-bottom: 1px solid #F0F0F0;
	padding-top: 15px;
	padding-bottom: 15px;
}
table tr:last-child td {
	border-bottom: none;
}
.dropdown-backdrop {
	display: none;
}

input,
textarea {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
input[type='checkbox'] {
	appearance: checkbox;
	-moz-appearance: checkbox;
	-webkit-appearance: checkbox;
}
input[type='radio'] {
	appearance: radio;
	-moz-appearance: radio;
	-webkit-appearance: radio;
}
/*END for_iphone*/

/*common_list_check*/
ul.common_list_check {
	padding: 0;
}
ul.common_list_check li {
	position: relative;
	list-style: none;
	margin-bottom: 15px;
	padding-left: 26px;
}
ul.common_list_check li:last-child {
	margin-bottom: 0;
}
ul.common_list_check li:before {
	content: "\e921";
	font-family: 'iconewwssync' !important;
	font-size: 16px;
	position: absolute;
	top: 0;
	left: 0;
}
ol.common_list_number {
	padding-left: 15px;
}
ol.common_list_number li {
	padding-left: 10px;
	margin-bottom: 15px;
}
ol.common_list_number li:last-child {
	margin-bottom: 0;
}
/*END common_list_check*/

/*payment_delivery*/
.payment_delivery__title {
	padding-top: 40px;
	margin-bottom: 20px;
	line-height: 26px;
}
.payment_delivery__title:first-child {
	padding-top: 0;
}
.page_descr.payment_delivery__page_descr p {
	padding-bottom: 15px;
}
.page_descr.payment_delivery__page_descr p:last-child {
	padding-bottom: 0;
	margin-bottom: 0;
}
.payment_delivery__phone_time .site_link {
	font-size: 20px;
}
.payment_delivery__phone_time span {
	font-size: 16px;
	margin-left: 15px;
}
.payment_delivery_list_check + .payment_delivery__page_descr {
	margin-top: 20px;
}
/*END payment_delivery*/

button,
button:hover,
button:focus,
button.active,
button.active:focus,
button:active:focus,
.btn_site,
.btn_site:hover,
.btn_site:focus,
.btn_site:active,
.btn_site.active,
.btn_site.active:focus,
.btn_site:active:focus,
.site_field input,
.site_field input:hover,
.site_field textarea,
.site_field textarea:hover {
	outline: none !important;
	box-shadow: none !important;
}

img {
	max-width: 100%;
}
.ul_reset_style {
	margin: 0;
	padding: 0
}
.ul_reset_style li {
	list-style: none;
}
.border_b {
	border-bottom: 1px solid;
}
.border_site {
	border: 1px solid;
}

body.none_scroll {
	overflow: hidden;
}

.site_container {
	width: 1330px;
	padding: 0 15px;
	margin-right: auto;
	margin-left: auto;
}
.site_wrap_content.header_fixed__content {
	margin-top: 134px;
}
.site_wrap_content {
	min-height: calc(100vh - 482px);
	margin-bottom: 100px;
}

.mob_viz {
	display: none;
}
.mob_inviz {
	display: block;
}
/*label_in_stock*/
.label_in_stock {
	border-radius: 30px;
	display: flex;
	align-items: center;
	width: 100px;
	height: 26px;
}
.label_in_stock .label_in_stock__ico:before {
	font-size: 16px;
	margin-left: 7px;
	margin-right: 6px;
}
.label_in_stock__text {
	font-size: 13px;
}
.label_in_stock_not_fon {
	display: flex;
	align-items: center;
}
.label_in_stock_not_fon .label_in_stock__ico:before {
	font-size: 16px;
	margin-right: 5px;
}
.label_in_stock_not_fon .label_in_stock__text {
	font-size: 14px;
	line-height: 20px;
}
/*END label_in_stock*/

/*not_available*/
.not_available {
	border-radius: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 110px;
	min-width: 110px;
	height: 26px;
	font-size: 13px;
}
/*END not_available*/

.site_link_arrowl,
.site_link_arrowr {
	position: relative;
}
.site_link_arrowl {
	margin-left: 22px;
}
.site_link_arrowr {
	margin-right: 22px;
}
.site_link_arrowl span.arrow_ico,
.site_link_arrowr span.arrow_ico {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.site_link_arrowl span.arrow_ico {
	left: -22px;
}
.site_link_arrowr span.arrow_ico {
	right: -22px;
}
.site_link_arrowl span.arrow_ico:before,
.site_link_arrowr span.arrow_ico:before {
	font-size: 16px;
	display: flex;
	width: 25px;
	justify-content: center;
}

/*ico_help_vin and ico_nonehtml_help*/
.help_vin {
	display: inline-block;
	vertical-align: middle;
}
.ico_link_help {
	border-radius: 50%;
	display: flex;
	cursor: pointer;
}
.help_vin .ico_link_help:before {
	font-size: 16px;
}
.wrap_help_vin__block {
	display: none;
}
.tooltipster_help {
	max-width: 260px;
}
.tooltipster-vin_help .tooltipster-arrow,
.tooltipster_help .tooltipster-arrow {
	display: none;
}
.tooltipster-vin_help.tooltipster-sidetip .tooltipster-box,
.tooltipster_help.tooltipster-sidetip .tooltipster-box {
	border: none;
	margin-top: 5px;
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
}
.tooltipster_help.tooltipster-sidetip .tooltipster-box {
	padding: 7px 15px;
}
.tooltipster-vin_help.tooltipster-sidetip .tooltipster-content,
.tooltipster_help.tooltipster-sidetip .tooltipster-content {
	padding: 0;
	line-height: normal;
}
.tooltipster_help.tooltipster-sidetip .tooltipster-content {
	font-size: 13px;
	line-height: 17px;
}
.help_vin__block {
	display: flex;
	align-items: center;
	width: 630px;
	padding: 20px;
}
.help_vin__block__info {
	width: calc(100% - 280px);
	padding-right: 25px;
}
.help_vin__block__info span {
	display: block;
	margin-bottom: 15px;
	line-height: 140%;
}
.help_vin__block__info span:last-child {
	margin-bottom: 0;
}
.help_vin__block__img {
	/* background: url(../img/vin_img.png); */
	width: 280px;
	height: 195px;
}
/*END ico_help_vin*/

.site_field {
	margin-bottom: 20px;
}
.site_field.site_field_error {
	margin-bottom: 10px;
}
.site_field input:focus,
.site_field textarea:focus {
	box-shadow: 0px 4px 5px rgba(213, 205, 209, 0.3) !important;
}
.site_field.site_field_error {
	box-shadow: 0px 4px 5px rgba(255, 98, 48, 0.15);
}
.wrap_site_field.site_field_with_label {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	text-align: left;
}
.wrap_site_field.site_field_with__horizontal_label {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin-bottom: 25px;
}
.wrap_site_field.site_field_with__horizontal_label .site_field,
.modal_site .modal-dialog .modal-content .wrap_site_field.site_field_with__horizontal_label .site_field {
	width: calc(100% - 190px);
	max-width: 360px;
	margin-bottom: 0;
}
.wrap_site_field.site_field_with__horizontal_label .site_field_label {
	width: 160px;
	margin-right: 30px;
}
.wrap_site_field.site_field_with__horizontal_label.horizontal_label__textarea .site_field_label {
	align-self: flex-start;
	margin-top: 10px;
}
.wrap_site_field.site_field_with_label .site_field {
	width: 100%;
}
.wrap_site_field.site_field_with_label .site_field_label {
	display: inline-block;
	font-size: 13px;
	line-height: 17px;
	margin-bottom: 7px;
}
.wrap_site_field.site_field_with_label .site_field_label_text {
	font-size: 13px;
}
.site_field.site_field_withico {
	position: relative;
}
.wrap_site_field.site_field_border_b {
	border-bottom: 1px solid;
	margin-bottom: 20px;
}
.wrap_site_field.site_field_bottom_text .site_field,
.site_field.site_field_error {
	margin-bottom: 10px;
}
.wrap_site_field .site_field_error_text {
	font-size: 13px;
	display: inline-block;
	margin-bottom: 20px;
}
.wrap_site_field.site_field_bottom_text {
	margin-bottom: 20px;
}
.site_field.site_field_withico:before {
	content: '';
	font-family: 'iconewwssync' !important;
	font-size: 16px;
	position: absolute;
	top: 50%;
	left: 12px;
	color: #C1C1C1;
	z-index: 1;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.site_field .link_input_password {
	position: absolute;
	top: 50%;
	right: 15px;
	cursor: pointer;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.site_field.input_password .link_input_password:before {
	content: '\e936';
	font-family: 'iconewwssync' !important;
	font-size: 16px;
	color: #C1C1C1;
}
.site_field.input_password .link_input_password.viz_pass:before {
	content: "\e935";
}
.site_field.site_field_withico.input_name:before {
	content: "\e951";
}
.site_field.site_field_withico.input_phone:before {
	content: "\e917";
}
.site_field.site_field_withico.input_email:before {
	content: "\e949";
}
.site_field.site_field_withico.input_password:before {
	content: "\e946";
}
.site_field.site_field_withico.input_organization:before {
	content: "\e94d";
}
.site_field.site_field_withico.input_inn:before {
	content: "\e942";
}
.site_field_bottom_text .site_field_error_text {
	width: 100%;
}

.site_field input,
.site_field textarea {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}
.site_field textarea {
	height: 95px;
	padding-top: 10px;
	padding-bottom: 10px;
	resize: none;
}

.site_field label {
	margin-bottom: 7px;
}
.site_field .checkbox label {
	margin-bottom: 0;
}
.site_field.site_field_withico input {
	padding-left: 35px;
}
.site_field_btn .btn_site {
	width: 100%;
}

/*placeholder*/
.site_field input::-webkit-input-placeholder { color: #888888 ; opacity: 1; }
.site_field input::-moz-placeholder          { color: #888888 ; opacity: 1; }
.site_field input:-ms-input-placeholder      { color: #888888 ; opacity: 1; }

.site_field textarea::-webkit-input-placeholder { color: #888888 ; opacity: 1; }
.site_field textarea::-moz-placeholder          { color: #888888 ; opacity: 1; }
.site_field textarea:-ms-input-placeholder      { color: #888888 ; opacity: 1; }
/*END placeholder*/

/*scroll_site*/
::-webkit-scrollbar-track {
	background-color: #F0F0F0;
}
::-webkit-scrollbar {
	width: 6px;
}
::-webkit-scrollbar-thumb {
	-webkit-border-radius: 6px;
	border-radius: 6px;
	background-color: #888888;
}
/*END scroll_site*/

.site_field_btn {
	padding-top: 10px;
}

.btn_site {
	border: none;
	width: 180px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 20px;
}
a.btn_site {
	white-space: nowrap;
}
.btn_site.btn_site_border {
	border: 1px solid;
}
.btn_site.btn_site_arrowr {
	padding-right: 15px;
}
.btn_site.btn_site_arrowl {
	padding-left: 15px;
}
.btn_site.btn_site_arrowl.arrow_circle {
	padding-left: 8px;
}
.btn_site.btn_site_arrowr.arrow_circle {
	padding-right: 8px;
}
.btn_site.btn_site_arrowl {
	justify-content: flex-start;
}
.btn_site_arrowr {
	justify-content: space-between;
}
.btn_site.btn_site_arrowl span:before,
.btn_site.btn_site_arrowr span:before {
	font-size: 18px;
}
.btn_site.btn_site_arrowl span {
	margin-right: 10px ;
}
.btn_site.btn_site_arrowr span {
	margin-left: 10px;
}
.btn_site.btn_site_arrowr span.arrowr_text {
	margin-left: 0;
	order: -1;
}
.btn_site.btn_site_arrowl.arrow_circle span,
.btn_site.btn_site_arrowr.arrow_circle span {
	border-radius: 50%;
	width: 24px;
	min-height: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.btn_site[disabled] {
	cursor: not-allowed;
}

.wrap_btn_center {
	width: 100%;
	margin-top: 30px;
}
.wrap_btn_center a {
	margin: 0 auto;
}

.btn_site.link_service {
	display: flex;
	align-items: center;
	width: 250px;
	padding: 0 20px 0 15px;
	line-height: 18px;
}
.btn_site.link_service .link_service__ico:before {
	font-size: 18px;
	margin-right: 10px;
}

/*checkbox*/
.checkbox {
	position: relative;
	font-size: 13px;
	padding-left: 26px;
	margin-top: 12px;
	margin-bottom: 0;
}
.checkbox + .checkbox {
	margin-top: 10px;
}
.checkbox input[type="checkbox"] {
	display: none;
}
.checkbox label {
	padding: 0;
	line-height: 19px;
}
.checkbox label:before {
	content: "";
	background: #fff;
	border: 1px solid #C1C1C1;
	border-radius: 4px;
	position: absolute;
	top: 0;
	left: 0;
	width: 16px;
	height: 16px;
}
.checkbox input[type="checkbox"]:checked + label:before {
	content: "\e921";
	font-family: 'iconewwssync' !important;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}
/*END checkbox*/

/*radio*/
.radio {
	position: relative;
	display: block;
	margin: 0;
	& input[type="radio"] {
		display: none;
		&:checked + label .radio_btn:after {
			content: "";
			background: #fff;
			border-radius: 50%;
			width: 6px;
			height: 6px;
			position: absolute;
			top: 50%;
			left: 50%;
			-webkit-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
		}
	}
	& label {
		position: relative;
		padding: 0 0 0 26px;
		min-height: 20px;
		margin-bottom: 0;
		cursor: pointer;
		& .radio_btn {
			position: absolute;
			top: 4px;
			left: 0;
			width: 16px;
			height: 16px;
			&:before {
				content: "";
				background: #fff;
				border: 1px solid #C1C1C1;
				border-radius: 50%;
				position: absolute;
				top: 0;
				left: 0;
				min-height: 0;
				width: 16px;
				height: 16px;
				padding: 0;
			}
		}
	}
}
/*END radio*/

/*select_site*/
	.wrap_select_site {
		& .select_site__control {
			border: $field_border;
			border-radius: $border_radius_main;
			height: $height_field_btn;
			cursor: pointer;
			box-shadow: none;
		}

		& .select_site__value-container {
			padding-left: 13px;
			padding-right: 0;
			& .select_site__single-value {
				font-size: 16px;
				font-weight: $fw_Body_Text;
			}
		}

		& .select_site__indicator {
			&:after {
				content: "\e922";
				font-family: 'iconewwssync' !important;
				font-size: 20px;
				font-weight: $fw_Body_Text;
				color: $Ultra_Light_Tint;
			}
			& svg {
				display: none;
			}
		}

		& .select_site__menu {
			border-radius: $border_radius_main;
			border: $field_border;
			padding-top: 1px;
			padding-bottom: 1px;
			margin-top: 4px;
			box-shadow: 0px 2px 2px rgba(208, 215, 217, 0.3);
			& .select_site__option {
				background: transparent;
				padding: 8px 15px;
				color: $Base_Tint;
				line-height: 20px;
				word-break: break-all;
				cursor: pointer;
				transition: all $animate_site;
				&:hover {
					background: $Light_Gray;
					color: $Dark_Tint;
				}
			}
		}
	}
	.header_select {
		& .select_site__control {
			border-color: $Light_Shade;
			border-right: none;
			border-radius: $border_radius_main $border_radius_default $border_radius_default $border_radius_main;
			font-weight: $fw_Large_Text;
			height: $selected_auto_height;
			transition: height 0ms;
			&:hover {
				border-color: $Light_Shade;
			}
		}


		& .select_site__indicators {
			display: flex;
			& .select_site__indicator-separator {
				background: $Accent_GrayBlue;
				order: 1;
				height: 43px;
				margin-top: 2px;
				margin-bottom: 4px;
			}
		}
	}
	div[data-fixhead="fixhead"] {
		.header_select {
			& .select_site__control {
				height: $height_field_btn;
				-webkit-transition: height 0ms;
				transition: height 0ms;
				& .select_site__single-value {
					font-size: 14px;
				}
				& .select_site__indicators {
					& .select_site__indicator-separator {
						height: auto;
					}
				}
			}
		}
	}
	

	
/*END select_site*/

/*site_dopdown_btn*/
.site_dopdown_btn {
	& .btn-success {
		&.btn_none_backgr {
			&.dropdown-toggle {
				background: transparent;
			}
		}
	}
}
.site_dopdown_btn {
	& button.dropdown-toggle {
		background: transparent;
		border: none;
		border-radius: 0;
		font-size: 14px;
		font-weight: $fw_Link;
		padding: 0;
		height: auto;
		vertical-align: baseline;
	}
}
.site_dopdown_btn {
	& button.dropdown-toggle {
		&:after {
			font-weight: $fw_font_ico;
		}
	}
}
.site_dopdown_btn {
	& button.dropdown-toggle {
		&:active {
			outline: none;
			box-shadow: none;
		}
	}
}
.site_dopdown_btn.show {
	& > .site_link {
		color: $Dark_Tint;
	}
}
.site_dopdown_btn {
	& .dropdown-menu {
		padding: 5px 0;
		margin-top: 8px;
	}
}
.site_dopdown_btn {
	& .dropdown_animate {
		display: block;
		visibility: hidden;
		opacity: 0;
		transition: all $animate_site;
		&.show {
			visibility: visible;
        	opacity: 1;
		}
	}
}

.enter {
    opacity: 0;
}
.enter-active {
    opacity: 1;
    transition: opacity 200ms;
}
.exit {
    opacity: 1;
}
.exit-active {
    opacity: 0;
    transition: opacity 200ms;
}

.site_dopdown_btn .dropdown-menu {
	z-index: 995;
}
.site_dopdown_btn .dropdown-menu {
	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.15);
}
.site_dopdown_btn .dropdown-menu ul {
	padding: 0;
	margin: 0;
}
.site_dopdown_btn .dropdown-menu ul li {
	list-style: none;
}
.site_dopdown_btn .dropdown-menu ul li a {
	display: block;
	padding: 8px 15px;
}
.site_dopdown_btn .dropdown-menu ul li a {
	font-size: 14px;
}
/*END site_dopdown_btn*/

/*tabs_site*/
.tabs_site .nav-tabs,
.tabs_site .nav-tabs > li > a,
.tabs_site .nav-tabs > li > a:hover,
.tabs_site .nav-tabs > li.active > a,
.tabs_site .nav-tabs > li.active > a:focus,
.tabs_site .nav-tabs > li.active > a:hover {
	border: none;
}
.tabs_site .nav-tabs > li > a {
	border-radius: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	margin-right: 5px;
	padding: 0 15px;
}
.tabs_site .nav-tabs > li:last-child  > a {
	margin-right: 0;
}
/*END tabs_site*/

/*site_table*/
.site_table {
	border: 1px solid;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.09);
}
.site_table__tr {
	border-bottom: 1px solid;
}
.site_table__tr:last-child {
	border-bottom: none;
}
.site_table__tr.site_table__header {
	height: 40px;
	min-height: 40px;
	box-shadow: 0px 2px 2px rgba(208, 215, 217, 0.3);
}
.site_table__tr {
	display: flex;
	min-height: 50px;
}
.site_table__tr.site_table__header .site_table__td {
	font-size: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-transform: uppercase;
}
.site_table__td {
	display: flex;
	align-items: center;
	padding: 15px 20px;
}
/*END site_table*/

/*collapse_tr*/
.link_collapse_arrow.collapsed:before,
.link_collapse_arrow:before {
	font-family: 'iconewwssync' !important;
	font-size: 16px;
}
.panel:last-child .site_table__tr.tr_collapse {
	border-bottom: none;
}
.link_collapse_arrow.collapsed:before {
	content: "\e922";
}
.link_collapse_arrow:before {
	content: "\e925";
}
.tr_collapse__tooltip_help {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.tr_collapse__content {
	padding: 30px 1px 10px;
	margin: 0 -1px 5px;
	box-shadow: 0px 4px 10px rgba(201, 190, 190, 0.3);
}
.tr_collapse__content .info_table__total_result {
	font-size: 20px;
	text-align: right;
	padding-right: 20px;
}
.tr_collapse__content .info_table__total_result span {
	margin-left: 5px;
}
/*END collapse_tr*/

/*stepper*/
.stepper {
	border: 1px solid;
	margin: 5px 0;
	overflow: hidden;
	position: relative;
	width: 90px;
	padding: 0 25px;
}
.stepper .stepper-input {
	border: none;
	box-shadow: none;
	width: 32px;
	height: 40px;
	line-height: 1.2;
	margin: 0 auto;
	overflow: hidden;
	padding: 10px 2px;
	text-align: center;
	z-index: 49;
	-moz-appearance: textfield;
}
.stepper .stepper-input::-webkit-inner-spin-button,
.stepper .stepper-input::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.stepper .stepper-input:focus {
	background-color: #fff;
	outline: none;
}
.stepper .stepper-step {
	border: none;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 25px;
	height: 40px;
	font-size: 0;
	position: absolute;
	top: 0;
	text-indent: -99999px;
	z-index: 50;
}
.stepper .stepper-step:before {
	content: '';
	font-family: 'iconewwssync' !important;
	font-size: 14px;
	text-indent: initial;
}

.stepper .stepper-step.up {
	right: 5px;
}
.stepper .stepper-step.up:before {
	content: "\e903";
}
.stepper .stepper-step.down {
	left: 5px;
}
.stepper .stepper-step.down:before {
	content: "\e94c";
}
.warning_stepper {
	font-size: 13px;
}

@media screen and (min-width: 740px) {
	.stepper:hover .stepper-input { background-color: #fff; }


	.stepper.disabled .stepper-arrow { background: #fff; border-color: #eee; cursor: default; }
}

.stepper.disabled .stepper-input { background: #fff; border-color: #eee; color: #ccc; }
.stepper.disabled .stepper-arrow { background: #fff; border-color: #eee; cursor: default; }
/*END stepper*/

/*modal*/
.modal-backdrop.in {
	background-color: #000;
	filter: alpha(opacity=65);
	opacity: 0.65;
}
body.modal-open .modal_site.in {
	display: flex !important;
	height: 100%;
}
.modal_site .modal-dialog {
	max-width: 420px;
	width: 100%;
	margin: auto;
}
.modal_site.modal_big .modal-dialog {
	max-width: 600px;
}
.modal_site .modal-dialog .modal-content {
	padding: 40px 30px 35px;
	position: relative;
	box-shadow: none;
}
.modal_site .modal-dialog .modal-content .modal-header,
.modal_site .modal-dialog .modal-content .modal-body,
.modal_site .modal-dialog .modal-content .modal-footer {
	border: none;
	padding: 0;
}
.modal_site .modal-dialog .modal-content button.close {
	position: absolute;
	top: 0;
	right: -35px;
	text-shadow: none;
	opacity: 1;
}
.modal_site .preloader {
	text-align: center;
	padding-top: 20px;
}
.modal_site .preloader img {
	width: 30px;
	height: 30px;
}

.icon-ion-close:before {
	font-size: 24px;
}
.modal_site .modal-dialog .modal-content .modal-title {
	font-size: 26px;
	line-height: 31px;
	text-align: center;
	padding-bottom: 30px;
}
.modal_site.modal_big .modal-dialog .modal-content.request_to .modal-title {
	text-align: left;
}
.modal_site .modal-dialog .modal-content .modal-body p {
	margin-bottom: 30px;
	padding-bottom: 0;
}
.modal_site .modal-dialog .modal-content .site_field {
	margin-bottom: 25px;
}
.modal_site .modal-dialog .modal-content .site_field.site_field_error {
	margin-bottom: 10px;
}
.modal_site .modal-dialog .modal-content .checkbox {
	margin-top: 20px;
}
.modal_site .checkbox .bx-authform-starrequired {
	display: none;
}
.modal_site.modal_site_help .site_field textarea {
	height: 202px;
}
.modal_site .site_field_btn {
	padding-top: 5px;
}
.modal_site .site_field_btn .btn_site {
	width: 100%;
}
.modal_site.modal_popup_center .modal-dialog .modal-content .modal-title,
.modal_site.modal_big .modal-dialog .modal-content.request_to__sent .modal-title {
	padding-bottom: 30px;
}
.modal_popup_center .modal-body p,
.modal_site.modal_big .modal-dialog .modal-content.request_to__sent .modal-body p ,
.request_to__sent p {
	text-align: center;
	font-size: 16px;
}
.modal.modal_site .modal-dialog .modal-content .modal-body .request_to__sent p {
	margin-bottom: 35px;
}
.modal_site .big_modal_descr {
	font-size: 20px;
	margin-bottom: 30px;
}
.modal_site.modal_big .modal-dialog .modal-content.request_to__sent .btn_site,
.request_to__sent .btn_site {
	width: 100%;
}
.modal_cancel_order.modal_site .modal-dialog .modal-content {
	background: #fff;
}
.modal_cancel_order.modal_site .modal-dialog .modal-content .modal-body p {
	margin-bottom: 20px;
}
.modal_cancel_order .textarea_other {
	display: none;
}
.modal_manager_phone {
	font-size: 20px;
	margin-bottom: 25px;
}
.modal_manager_phone .modal_manager_phone__ico:before {
	font-size: 20px;
	margin-right: 5px;
}
.modal_site.modal_big .modal-dialog .modal-content.request_to .site_field_btn,
.modal_site.modal_edit_car .site_field_btn {
	width: calc(100% - 190px);
	margin-left: auto;
}
.modal_site.modal_edit_car .site_field_btn {
	display: flex;
	align-items: center;
}
.modal_site.modal_edit_car .site_field_btn .btn_site {
	width: 180px;
	margin-right: 30px;
}

/*.modal_site.modal_video .modal-dialog {
    max-width: 800px;
}
.modal_site.modal_video .modal-content {
    background: transparent;
    border: none;
    padding: 0;
}
.modal_site.modal_video iframe {
    border: 0;
    height: 480px;
    padding: 0;
}*/
/*END modal*/

/*slider_site*/
.slider_site {
	&.slider_site_arrow {
		padding-bottom: 60px;
	}
	&.slider_site_dots {
		padding-bottom: 28px;
	}
	& .swiper-wrapper {
		padding: 10px 0;
		& .swiper-slide {
			box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.1);
		}
	}
	& .swiper-button-next,
	& .swiper-button-prev {
		background: $Light_Gray;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		top: auto;
		bottom: 0;
		width: 40px;
		height: 40px;
		transition: background $animate_site;
		&:hover {
			background: $Base_Accent;
			& .swiper-button-next:after,
			& .swiper-button-prev:after {
				color: $White;
			}
		}
	}
	& .swiper-button-next {
		&:hover {
			&.swiper-button-next:after {
				color: $White;
			}
		}
	}
	& .swiper-button-prev {
		&:hover {
			&.swiper-button-prev:after {
				color: $White;
			}
		}
	}
	& .swiper-button-next {
		right: calc(50% - 50px);
	}
	& .swiper-button-prev {
		left: calc(50% - 50px);
	}
	& .swiper-button-next:after,
	& .swiper-button-prev:after {
		font-family: "iconewwssync" !important;
		color: $DarkGray;
		font-size: 20px;
		transition: color $animate_site;
	}
	& .swiper-button-next:after {
		content: "\e909";
		
	}
	& .swiper-button-prev:after {
		content: "\e906";
	}

	& div.swiper-pagination {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		bottom: 0;
		& .swiper-pagination-bullet {
			background: $Accent_GrayPink;
			width: 10px;
			height: 10px;
			margin: 0 8px; 
			opacity: 1;
			transition: background 0.2s ease 0s;
			&.swiper-pagination-bullet-active {
				background: $Base_Accent;
				width: 18px;
				height: 18px;
			}
		}
		
	}
}

.slider_descr {
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 30px;
}
/*END slider_site*/

/*warning_block*/
.warning_block {
	border: 1px solid;
	display: flex;
	align-items: center;
	padding: 10px 20px;
	min-height: 64px;
}
.warning_block .warning_block__ico:before {
	font-size: 20px;
	margin-right: 10px;
}
.warning_block__text {
	line-height: 20px;
}
/*END warning_block*/

/*label_product_tag*/
.label_product_tag {
	display: flex;
	align-items: center;
}
.label_product_tag .label_product_tag__item {
	display: flex;
	align-items: center;
	font-size: 12px;
	line-height: 16px;
	height: 20px;
	padding: 1px 10px;
	margin-right: 5px;
}
/*END label_product_tag*/

/*site_page*/
.site_page .title_page {
	padding-bottom: 20px;
}
.page_descr_with_border {
	border-bottom: 1px solid;
	padding-bottom: 20px;
	margin-bottom: 30px;
}
.site_page .page_descr p,
.page_descr_with_border p {
	font-size: 16px;
	max-width: 840px;
	margin-bottom: 20px;
}
.site_page .page_descr_with_border p {
	margin: 0;
	padding-bottom: 0;
}
/*END site_page*/

/*list_brand_alphabet*/
.list_brand_alphabet {
	font-size: 18px;
	line-height: 29px;
	-moz-column-count: 5;
	-webkit-column-count: 5;
	column-count: 5;
}
.list_brand_alphabet li {
	display: inline-block;
	width: 100%;
	position: relative;
	padding-left: 29px;
	margin-bottom: 10px;
}
.list_brand_alphabet li .letter {
	position: absolute;
	top: 0;
	left: 0;
}
.list_brand_alphabet li .brend_name {
	cursor: pointer;
}
/*END list_brand_alphabet*/

/*page_404*/
.page_404 {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 64px;
	margin-bottom: 30px;
	& .page_404__item {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		max-width: 620px;
		text-align: center;
		& svg {
			max-width: 620px;
			max-height: 320px;
		}

		& .title_404 {
			font-size: 26px;
			font-weight: $fw_Header3;
			color: $Base_Tint;
			margin: 60px 0 40px;
		}

		& .btn_site {
			width: 220px;
		}
	}
}

@media only screen and (max-width : 1359px) {
	.page_404 {
		padding-top: 0;
		margin-bottom: 0;
	}
}
/*END page_404*/




/*main_content*/
.sec_main {
	padding-top: 30px;
}
.sec_main .title_h3 {
	padding-bottom: 20px;
}


/*slider__catalog*/
.wrap_slider_catalog {
	padding-top: 25px;

}
.slider__catalog.slider_site {
	padding: 0 15px;
}
.slider__catalog.slider_site.owl-carousel .owl-stage-outer {
	padding: 15px 0;
}
.slider__catalog.slider_site .item {
	box-shadow: none;
}
.slider__catalog .item a {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 136px;
	padding: 10px 16px;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}
.slider__catalog .item a .slider__catalog__img {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100px;
	height: 66px;
	margin: 0 auto 11px;
}
.slider__catalog .item a .slider__catalog__img img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}
.slider__catalog .item a .slider__catalog__text {
	text-align: center;
	line-height: 20px;
}
.slider__catalog.slider_site.owl-carousel .owl-nav {
	margin-top: 0;
}
.slider__catalog.slider_site.owl-carousel .owl-nav > button {
	position: absolute;
	top: 50%;
	width: 30px;
	height: 30px;
	margin: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.slider__catalog.slider_site.owl-carousel .owl-nav > button .ico_slider_arrow:before {
	font-size: 20px;
}
.slider__catalog.slider_site.owl-carousel .owl-nav .owl-prev {
	left: -10px;
}
.slider__catalog.slider_site.owl-carousel .owl-nav .owl-next {
	right: -10px;
}
/*END slider__catalog*/

/*main_info_items*/
.wrap_main_info_items {
	padding-top: 30px;
	margin-bottom: 20px;
}
/*END main_info_items*/

/*slider__main_brand*/
.main_slider__brand.sec_main {
	padding-top: 50px;
}
.main_slider__brand .slider__main_brand .item {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 105px;
	padding: 8px 12px;
}
.main_slider__brand .slider__main_brand .item img {
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}
/*END slider__main_brand*/
/*END main_content*/


@media only screen and (max-width : 1359px) {
	.site_container {
		width: 970px;
	}
	.link_header_request_call {
		display: none;
	}
	.header_link_help {
		& .header_link_help__title {
			font-size: 13px;
		}
	}

	/*select_site*/
		.header_select {
			& .select_site__control {
				& .select_site__single-value {
					font-size: 14px;
				}
			}
		}
	/*END select_site*/
}

@media only screen and (max-width : 999px) {
	.site_container {
		max-width: 768px;
		width: 100%;
	}
	div[data-fixhead="fixhead"] {
		& .header_select .select_site__control {
			& .select_site__single-value {
				font-size: 13px;
			}
		}
	}
}

@media only screen and (max-width : 767px) {
	h1,
	.title_h1 {
		font-weight: $fw_Header3;
		font-size: 26px;
		line-height: 31px;
	}
	h2,h3,
	.title_h2,
	.title_page,
	.title_h3,
	.modal_site .modal-dialog .modal-content .modal-title {
		font-size: 21px;
		font-weight: $fw_Header4;
		line-height: 27px;
	}
	h4,
	.title_h4 {
		font-weight: $fw_Header6;
		font-size: 15px;
		line-height: 18px;
	}
	h5,h6,
	.title_h5,
	.title_h6 {
		font-size: 14px;
		line-height: 18px;
	}
	h5,
	.title_h5 {
		font-weight: $fw_Link;
	}
	h6,
	.title_h6 {
		font-weight: $fw_Button_Link;
	}
	.mob_body_overflow {
		position: fixed;
		overflow: hidden;
		width: 100%;
		height: 100vh;
	}

	.sec_main .title_h3 {
		padding-bottom: 10px;
	  }
}