@import "../../../../styles/option.scss";

.wrap_select {
    position: absolute;
    top: 0;
    left: 0;
    width: 215px;
    z-index: 1;
}
.site_field {
    width: 100%;
    margin-bottom: 0;
}
input {
    &.input,
    &.input:focus {
        border-radius: $border_radius_main;
        border-color: $Light_Shade;
        font-size: 16px;
        height: $selected_auto_height;
        padding-right: 60px;
        padding-left: 230px;
        -webkit-appearance: none !important;
        -moz-appearance: none !important;
        appearance: none !important;
    }
}
button {
    &.btn_search[type='submit'] {
        background: transparent;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        width: 54px;
        height: $selected_auto_height;
        padding: 0;

        & span {
            &.btn_search_ico {
                &:before {
                    font-size: 24px;
                    transition: color $animate_site;
                    color: $Base_Shade;
                    transition: color $animate_site;
                }
            }
        }

        &:hover {
            & span {
                &.btn_search_ico {
                    &:before {
                        color: $Light_Shade;
                    }
                }
            }
        }
    }
}
